@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
#container{
    max-width: 600px;
    margin: 0 auto;
    padding: 19px;
}
#WordDiv{
    font-size:larger;
    margin: 20px;
}

h1 {
    text-align: center;
}
#myForm{
    text-align: center;
    margin-top: 20px;
}
#WordDiv{
    text-align: center;
    font-style: italic;
}
#Meanings{
    text-align: center;
}
audio{
    margin: 10px 0px 10px 0px;
}
.margin{
    margin: 10px 0px;
}
.defContainer{
    padding: 0 30px;
}
.definitionsData{
    list-style-position: outside;
}
li{
    margin: 6px 0px;
}